##########################################################################
#This file is part of WTFramework. 
#
#    WTFramework is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    WTFramework is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with WTFramework.  If not, see <http://www.gnu.org/licenses/>.
##########################################################################

# Mock Object framework.  Used for unit testing framework code.
mockito>=0.5.1

# PyLint - Requirement for some nosetest below.
pylint>=0.26.0

# Unittest2 used as testcase base for watched test cases
unittest2>=0.5.1

# Interrupting cow used for wrapping async unit tests.
interruptingcow>=0.6

# Nose is used as top level test driver and reporting.
nose2>=0.4.6

# DDT module for Data driven decorators. (we extend these for our ddt decorators)
ddt>=0.2.0

# PyYaml is used for processing config files.
pyyaml>=3.10

# Selenium WebDriver for driving browsers.
selenium>=2.37.2

# Python 2/3 compatibility lib.
six>=1.5.2